<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bustle &amp; Clone Fake News Site. Powered by Putin's pooter!</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul> -->
  </div>
</nav><div class="container">
  <header class="jumbotron">
    <h1>Bustle &amp; Clone</h1>
  </header>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{outlet}}
      </div>
      <div class="col-md-2"></div>
    </div>
  <hr>
  <footer>
    {{#link-to 'contact'}}Let us know if you have a good story that isn't about Trump!{{/link-to}}
  </footer>
</div>
